* {
    font-family: stick, sans-serif;
    box-sizing: border-box;
}

:root {
    font-family: stick, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 30px;
    font-size: 2.5em;
    text-align: center;
}

.player-turn {
    font-size: 1.5em;
}

.gameboard-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms;
    border-radius: 15px;
    cursor: pointer;
    font-size: 3em;
    background: linear-gradient(45deg, #1f4037, #99f2c8);
    color: white;
}

.square:active {
    transform: scale(0.95);
}

.buttons {
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    background-color: hsl(0, 60%, 68%);
    border: 1px solid transparent;
    border-radius: 5px;
}

.buttons:hover {
    background-color: hsl(0, 60%, 58%);
}

.modal {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    animation-name: fadeIn;
    animation-duration: 400ms;
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
}

.modal-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid grey;
    align-items: center;
    width: 400px;
    height: 200px;
}

.modal-body {
    font-size: 2em;
}

#modal-button {
    background-color:hsl(150, 60%, 58%);
}

#modal-button:hover {
    background-color:hsl(150, 60%, 38%);
}

.modal-hidden {
    display: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media (max-width: 500px) {
    .gameboard {
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
    }
    .square {
        font-size: 2em;
        border-radius: 10px;
    }
    .buttons {
        font-size: 1.25em;
    }
    .modal-content {
        width: 300px;
        height: 200px;
    }
    .modal-body {
        font-size: 1.5em;
    }
}

@media (max-width: 350px) {
    .player-turn {
        font-size: 1em;
    }
    .gameboard {
        grid-template-columns: repeat(3, 50px);
        grid-template-rows: repeat(3, 50px);
    }
    .square {
        font-size: 1.25em;
        border-radius: 5px;
    }
    .buttons {
        font-size: 1em;
    }
    .modal-content {
        width: 200px;
        height: 100px;
    }
    .modal-body {
        font-size: 1em;
    }
    #modal-button {
        margin: 10px;
        padding: 5px;
    }
}